Deliverable/webservice/soap/services.wsdl

<?xml version='1.0' encoding='utf-8' ?>

<definitions name='SOAPDefn'
xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
xmlns:xsd='http://www.w3.org/2001/XMLSchema'
xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
xmlns='http://schemas.xmlsoap.org/wsdl/'>

<message name='insertUserNameRequest'>
	<part name='username' type='xsd:string'/>
	<part name='fullname' type='xsd:string'/>
	<part name='date' type='xsd:string'/>	
	<part name='password' type='xsd:string'/>
	<part name='email' type='xsd:string'/>
	<part name='avatar' type='xsd:string'/>
</message>

<message name='insertUserNameResponse'>
	<part name='resp' type='xsd:string'/>
</message>

<message name='insertCategoryRequest'>
	<part name='username' type='xsd:string'/>
	<part name='creator' type='xsd:string'/>
</message>

<message name='insertCategoryResponse'>
	<part name='resp' type='xsd:string'/>
</message>

<message name='insertTaskRequest'>
	<part name='username' type='xsd:string'/>
	<part name='taskname' type='xsd:string'/>
	<part name='catname' type='xsd:string'/>
	<part name='deadline' type='xsd:string'/>
	<part name='asignee' type='xsd:string'/>
	<part name='tag' type='xsd:string'/>
</message>

<message name='insertTaskResponse'>
	<part name='resp' type='xsd:string'/>
</message>

<portType name='portUserName'>
	<operation name='insertUserName'>
		<input message = 'tns:insertUserNameRequest'/>
		<output message = 'tns:insertUserNameResponse'/>
	</operation>
</portType>

<portType name='portCategory'>
	<operation name='insertCategory'>
		<input message = 'tns:insertCategoryRequest'/>
		<output message = 'tns:insertCategoryResponse'/>
	</operation>
</portType>

<portType name='portTask'>
	<operation name='insertTask'>
		<input message = 'tns:insertTaskRequest'/>
		<output message = 'tns:insertTaskResponse'/>
	</operation>
</portType>

<binding name='usernameBinding' type='tns:portUserName'>
	<soap:binding style='rpc' transport = 'http://schemas.xmlsoap.org/soap/http'/>
	<operation name='insertUserName'>
		<soap:operation soapAction='insertUserName'/>
		<input>
			<soap:body use='literal'/>
		</input>
		<output>
			<soap:body use='literal'/>
		</output>
	</operation>
</binding>

<binding name='categoryBinding' type='tns:portCategory'>
	<soap:binding style='rpc' transport = 'http://schemas.xmlsoap.org/soap/http'/>
	<operation name='insertCategory'>
		<soap:operation soapAction='insertCategory'/>
		<input>
			<soap:body use='literal'/>
		</input>
		<output>
			<soap:body use='literal'/>
		</output>
	</operation>
</binding>

<binding name='taskBinding' type='tns:portTask'>
	<soap:binding style='rpc' transport = 'http://schemas.xmlsoap.org/soap/http'/>
	<operation name='insertTask'>
		<soap:operation soapAction='insertTask'/>
		<input>
			<soap:body use='literal'/>
		</input>
		<output>
			<soap:body use='literal'/>
		</output>
	</operation>
</binding>

<service name = 'usernameService'>
	<port binding = 'usernameBinding' name='DBport'>
		<soap:address location='http://nicholasrio.ap01.aws.af.cm/soap/server.php'/>
	</port>
</service>

<service name = 'categoryService'>
	<port binding = 'categoryBinding' name='DBcategory'>
		<soap:address location='http://nicholasrio.ap01.aws.af.cm/soap/server.php'/>
	</port>
</service>

<service name = 'taskService'>
	<port binding = 'taskBinding' name='DBtask'>
		<soap:address location='http://nicholasrio.ap01.aws.af.cm/soap/server.php'/>
	</port>
</service>

</definitions>